<br>
    <h1 style="text-align: center;">Loan Status</h1><br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="loanId">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td mat-cell *matCellDef="let element"> {{element.loanId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="loanName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.loanName}} </td>
  </ng-container>

  
  <!-- Weight Column -->
  <ng-container matColumnDef="loanEmail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.loanEmail}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>  Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="loanPhoneNo">
    <th mat-header-cell *matHeaderCellDef>  Phone number </th>
    <td mat-cell *matCellDef="let element"> {{element.loanPhoneNo}} </td>
  </ng-container>

  <ng-container matColumnDef="loanType">
    <th mat-header-cell *matHeaderCellDef>  Loan Type </th>
    <td mat-cell *matCellDef="let element"> {{element.loanType}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>  Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>
  
  
 <tr mat-header-row *matHeaderRowDef= "displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br><br>
<div class="text-center">
<button [routerLink]="['/home']"> Back</button></div>