/* .card{
    border: none;
    width: 500px;
    padding: 40px;
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background: hsla(205, 46%, 30%, 1);
} */
    /* background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(205, 29%, 36%, 1) 100%);
}
/* .card h1,h6{
    color: #fff;
}
label{
    color: #fff;
} */

.card{
background-color: rgb(255, 255, 255);
   padding: 10px;
   /* margin-top: auto;
   margin-bottom: auto; */
   position: relative;
   display: block;
   /* margin-right: auto;
   margin-left: auto; */
   margin: auto;
   min-height: 600px;
   max-width: 700px;
   border: 1px solid black;

}