
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
  }
  
  .footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
  }

   /* @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */
  
   *{
    margin: 0;
    padding: 0;
  }
  
  main {
    height: 200vh;
  } 
  header{
      margin-top: 70px;
  }
  
  nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: auto;
    align-items: center;
    background: #e7e7e7;
    transition: all 0.3s;
  }
  
  nav a {
    width: 90px;
    margin-right: 200px;
    font-family: Pacifico;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #404040
  }
  
  .home {
    width: 200px !important; 
    padding-left: 20px !important;
    margin-right: auto !important;
    font-size: 2em;
  }
  
  .nav-up {
    top: -70px;
  }
  .card{
    border: none;
    width: 500px;
    padding: 40px;
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(205, 29%, 36%, 1) 100%);
}
.card h1,h6{
    color: #fff;
}
label{
    color: #fff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}