<!-- <h1>ONLINE BANKING SYSTEM</h1>
<html>
    <head>
        <style>
            h1{
                text-align: center;
                
            }
        </style>
        
    </head>
    <body>
        <h1>CUSTOMER</h1>
    </body>
</html> 


 <div class="container">
    <div class="header">
      <nav>
        <!-- <a href="" class="home">Online Bank Management</a>  -->
        
        
         <!-- <a href="home">Home</a>
         <!-- <a href="customer">Customer</a> -->
         <!-- <a href="loan">Apply for Loan</a>
          <a href="card">Apply for Card</a> 

           <a href="customer">Customer Info</a>
           <!-- <a href="transaction">Transaction History</a>    -->
             
<!--         
        </nav>
    </div> 
     <div class="content">
      <router-outlet></router-outlet>
    </div>
   
  </div>   -->
  
  <!-- <app-login></app-login>
  <app-register></app-register> -->
  <router-outlet></router-outlet>
  <!-- <app-login></app-login> -->
  <!-- <app-adminlogin></app-adminlogin> -->