<div class="bg">
    <nav>
      <!-- <a href="" class="home">Online Bank Management</a>  -->
      
      <div class="a"><br>
         
       <div class="b">
       
        <a  href="loan">Apply for Loan</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <a href="card">Apply for Card</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <br>
        
        <a href="beneficiary">Transfer Funds</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
  
         <a href="transaction">Transaction History</a> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <br>
         
        <!-- <a href="project">LogOut</a>  -->
        <!-- <a href="profile">Profile</a> -->
        <a href="cardstatus">Card Status</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        

        <a href="loanstatus">Loan Status</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        

        <a class="nav-link" routerLink="" (click)="RegisterService.logout()">Logout </a>
          
      </div>
      </div>
      </nav>

  </div> 
    <div class="content">
     <router-outlet></router-outlet> 
  </div>